* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  /* padding-bottom: 200px; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* TODO: Make rectangles responsive */
.Dashboard {
  overflow: auto;
  width: 100%;
}

.Menu-Rect {
  width: 12%;
  height: 100vh;
  float: left;
  background: #004684;
}

.Form-Div {
  width: 82%;
  height: 50vh;
  padding-top: 50vh;
  float: left;;
}

.rect1 {
  display: inline-block;
  position: absolute;
  width: 1440px;
  height: 144px;
  z-index: 2;
  background: #004684
}

.rect2 {
  display: inline-block;
  position: relative;
  width: 1400px;
  height: 144px;
  top: 45px;
  /* left: -63px; */
  z-index: 1;
  background: #FDBA39;

}

.rect3 {
  position: absolute;
  width: 260px;
  height: 1024px;
  left: 0px;
  top: 0px;
  z-index: 2;

  background: #013A76;
}

.rect4 {
  /* display: inline-block; */
  position: relative;
  width: 180px;
  height: 1024px;
  left: 120px;
  top: 89px;

  background: #FDBA39;
  z-index: 1;
  border-radius: 10px;
}

.Welcome-Text {
  /* height: 100em; */
  padding-top: 200px;
  position: relative;
}

.Menu-Text {
  width: 25%;
  float: left;
}

p.static-title {
  /* position: absolute; */
  width: 216px;
  height: 53px;
  left: 20px;
  top: 36px;

  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 1.375rem;
  line-height: 134.77%;
  
  /* or 30px */
  text-align: center;
  color: #F5F5F5;
  z-index: 3;
}

.welcome-message {
  /* position: absolute; */
  width: 223px;
  height: 64px;
  left: 20px;
  top: 114px;

  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.375rem;
  line-height: 134.77%;

  /* or 30px */
  text-align: center;
  color: #F5F5F5;
  z-index: 3;
}

#dash.dash-components {
  /* position: absolute; */
  width: 210px;
  height: 64px;
  left: 28px;
  top: 203px;

  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.375rem;
  line-height: 134.77%;

  /* or 30px */
  display: flex;
  align-items: center;
  text-align: center;

  color: #F5F5F5;
  z-index: 3;

}

#appoint.dash-components {

  /* position: absolute; */
  width: 210px;
  height: 64px;
  left: 28px;
  top: 292px;

  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.375rem;
  line-height: 134.77%;

  /* or 30px */
  display: flex;
  align-items: center;
  text-align: center;

  color: #F5F5F5;
  z-index: 3;

}

#edit.dash-components {
  /* position: absolute; */
  width: 210px;
  height: 64px;
  left: 24px;
  top: 381px;

  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.375rem;
  line-height: 134.77%;

  /* or 30px */
  display: flex;
  align-items: center;
  text-align: center;

  color: #F5F5F5;
  z-index: 3;

}

#logout.dash-components {
  /* position: absolute; */
  width: 210px;
  height: 64px;
  left: 24px;
  bottom: 0px;

  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.375rem;
  line-height: 134.77%;

  /* or 30px */
  display: flex;
  align-items: center;
  text-align: center;
  z-index: 3;

  color: #F5F5F5;

}

.appointment-form {
  /* position: absolute; */
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  /* width: 887px;
  height: 306px;
  left: 600px;
  top: 300px; */
}
