* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  /* padding-bottom: 200px; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Dashboard {
  overflow: auto;
  width: 100%;
}

.Menu-Rect {
  width: 20%;
  height: 100vh;
  float: left;
  background: #004684;
  outline: none;
}

.Menu-Rect p {
  width: 100% !important;
  font-size: 1.5vw !important;
}

.Menu-Rect ul li {
  width: 100% !important;
  font-size: 1vw !important;
  padding:0.5em 1em 0.5em 3em;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-weight:regular;
  background-repeat:no-repeat;
  background-position:left 15px center;
  background-size:auto 20px;
  transition:all 0.15s linear;
  cursor:pointer;
  color: #F5F5F5;
  list-style: none;
  padding:0.5em 0;
  margin:0;

}

.Form-Div {
  width: 80%;
  height: 50vh;
  float: left;
}

.datepicker {
  width: 80%;
  height: 50vh;
  float: left;
}

.rect1 {
  display: inline-block;
  position: absolute;
  width: 1440px;
  height: 144px;
  z-index: 2;
  background: #004684
}

.rect2 {
  display: inline-block;
  position: relative;
  width: 1400px;
  height: 144px;
  top: 45px;
  /* left: -63px; */
  z-index: 1;
  background: #FDBA39;

}

.Welcome-Text {
  /* height: 100em; */
  padding-top: 200px;
  position: relative;
}

p.static-title {
  width: 216px;
  height: 53px;
  left: 20px;
  top: 36px;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 1.375rem;
  line-height: 134.77%;
  text-align: center;
  color: #F5F5F5;
  z-index: 3;
}

.welcome-message {
  width: 223px;
  height: 64px;
  left: 20px;
  top: 114px;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.375rem;
  line-height: 134.77%;
  text-align: center;
  color: #F5F5F5;
  z-index: 3;
}

.day-info {
  font: 1em sans-serif;
}

legend {
  background-color: #FDBA39;
  color: #F5F5F5;
  font-size: 2em;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}

fieldset {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  background-color:#ffdb99;
  border-radius: 10px;
}